/*task 08_01*/
ul.menu{
    list-style: none;
    margin: auto;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 5px 5px #880000;
    width: 200px;
    background-color: #f9e497;
    font-size: 11pt;
    color: #880000;
}
.menu > li{
    margin: 5px;
}