<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>  
    <add key="DataMode" value="XML"/>
    <add key="UserFile" value="D:/Data/Data.xml"/>
    <add key="AwardFile" value="D:/Data/Awards.xml"/>
  </appSettings> 
</configuration>