<div class="layout"></div>
<div class="header">
    <div class="container">
        <div class="header-text"><a href="/">Epam.Task10</a></div>
        <div class="header-login">@if (User.Identity.IsAuthenticated)
        {<text>(</text>@User.Identity.Name<text>)&nbsp;<a href="~/Pages/signOut">SignOut</a></text>}
        else
        {<a href="~/Pages/signIn.cshtml">Sign In</a> <a href="~/Pages/signUp.cshtml">Sign Up</a>}</div>
    </div>
</div>
<div class="container container-main main">
